In [297]:
import pandas as pd
import numpy as np
import os

In [298]:
cwd = os.getcwd()
cwd

'C:\\Users\\Renato Aranha\\Documents\\Mestrado\\CartolaFCDados'

In [572]:
atletas_all_years = pd.DataFrame()
clubes_all_years = pd.DataFrame()
partidas_all_years = pd.DataFrame()
posicoes_all_years = pd.DataFrame()
scouts_all_years = pd.DataFrame()
status_all_years = pd.DataFrame()


for i in range(2014, 2018):
    
    path_atl = os.path.join(cwd, str(i)+"\\Atletas.csv")    
    path_club = os.path.join(cwd, str(i)+"\\Clubes.csv")    
    path_part = os.path.join(cwd, str(i)+"\\Partidas.csv")    
    path_pos = os.path.join(cwd, str(i)+"\\Posicoes.csv")   
    path_sct = os.path.join(cwd, str(i)+"\\Scouts.csv")    
    path_stts = os.path.join(cwd, str(i)+"\\Status.csv")
    
    atletas = pd.read_csv(path_atl)
    atletas['Ano'] = i
    clubes = pd.read_csv(path_club)
    #clubes['Ano'] = i
    partidas = pd.read_csv(path_part)
    partidas['Ano'] = i
    posicoes = pd.read_csv(path_pos)
    #posicoes['Ano'] = i
    scouts = pd.read_csv(path_sct)
    scouts['Ano'] = i
    status = pd.read_csv(path_stts)
    #status['Ano'] = i
    
    atletas_all_years = atletas_all_years.append(atletas)
    clubes_all_years = clubes_all_years.append(clubes).drop_duplicates()
    partidas_all_years = partidas_all_years.append(partidas)
    posicoes_all_years = posicoes_all_years.append(posicoes).drop_duplicates()
    scouts_all_years = scouts_all_years.append(scouts)
    status_all_years = status_all_years.append(status).drop_duplicates()

# Gerando tabela com partidas

In [523]:
partidas_all_years.head()

,Ano,CasaID,ID,PlacarCasa,PlacarVisitante,Resultado,Rodada,VisitanteID
0,2014,262,179872,0.0,0.0,Empate,1,290
1,2014,266,179873,3.0,0.0,Casa,1,316
2,2014,276,179874,3.0,0.0,Casa,1,263
3,2014,277,179875,1.0,1.0,Empate,1,292
4,2014,293,179876,1.0,0.0,Casa,1,284

In [524]:
clubes_all_years.head()

    ID         Nome Abreviacao         Slug
0  262     Flamengo        FLA     flamengo
1  263     Botafogo        BOT     botafogo
2  264  Corinthians        COR  corinthians
3  265        Bahia        BAH        bahia
4  266   Fluminense        FLU   fluminense

In [525]:
partidas_all_years = partidas_all_years.merge(clubes_all_years[['ID','Abreviacao']], how='inner', left_on='CasaID',\
                         right_on='ID')

partidas_all_years = partidas_all_years.merge(clubes_all_years[['ID','Abreviacao']], how='inner', left_on='VisitanteID',\
                         right_on='ID')

partidas_all_years = partidas_all_years.drop(labels=['ID_y','ID'], axis = 1)

In [526]:
partidas_all_years = partidas_all_years.rename(columns={'ID_x':'ID_partida'})

In [527]:
partidas_all_years.head()

,Ano,CasaID,ID_partida,PlacarCasa,PlacarVisitante,Resultado,Rodada,VisitanteID,Abreviacao_x,Abreviacao_y
0,2014,262,179872,0.0,0.0,Empate,1,290,FLA,GOI
1,2014,262,179872,0.0,0.0,Empate,1,290,FLA,GOI
2,2015,262,190387,4.0,1.0,Casa,34,290,FLA,GOI
3,2015,262,190387,4.0,1.0,Casa,34,290,FLA,GOI
4,2014,266,180066,2.0,0.0,Casa,13,290,FLU,GOI

In [554]:
partidas_all_years.isnull().sum()

Ano                   0
CasaID                0
ID_partida            0
PlacarCasa            4
PlacarVisitante       4
Resultado          1232
Rodada                0
VisitanteID           0
Abreviacao_x          0
Abreviacao_y          0
dtype: int64

In [528]:
partidas_all_years.to_csv('partidas_all_years.csv', sep='\t')

# Gerando tabela com atletas

In [574]:
atletas_all_years.head()

      ID           Apelido  ClubeID  PosicaoID   Ano
0  80583        Lucas Lima      277          4  2014
1  72079      Bruno Cortez      288          2  2014
2  86189          Mosquito      293          5  2014
3  68938  Giovanni Augusto      316          4  2014
4  68974            Marcão      316          5  2014

In [575]:
clubes_all_years.head()

    ID         Nome Abreviacao         Slug
0  262     Flamengo        FLA     flamengo
1  263     Botafogo        BOT     botafogo
2  264  Corinthians        COR  corinthians
3  265        Bahia        BAH        bahia
4  266   Fluminense        FLU   fluminense

In [593]:
posicoes_all_years

   ID      Nome Abreviacao
0   1   Goleiro        GOL
1   2   Lateral        LAT
2   3  Zagueiro        ZAG
3   4      Meia        MEI
4   5  Atacante        ATA
5   6   Técnico        TEC

In [577]:
atletas_all_years = atletas_all_years.merge(clubes_all_years[['ID','Abreviacao','Nome']], how='inner', left_on='ClubeID',\
                         right_on='ID')

atletas_all_years = atletas_all_years.merge(posicoes_all_years[['ID','Abreviacao']], how='inner', left_on='PosicaoID',\
                         right_on='ID')

atletas_all_years = atletas_all_years.drop(labels=['ID_y','ID'], axis = 1)

In [581]:
atletas_all_years = atletas_all_years.rename(columns={'ID_x':'ID_jogador','Nome':'nome_clube'})

In [582]:
atletas_all_years.head()

,ID_jogador,Apelido,ClubeID,PosicaoID,Ano,Abreviacao_x,nome_clube,Abreviacao_y
0,80583,Lucas Lima,277,4,2014,SAN,Santos,MEI
1,80583,Lucas Lima,277,4,2014,SAN,Santos,MEI
2,88002,Serginho,277,4,2014,SAN,Santos,MEI
3,88002,Serginho,277,4,2014,SAN,Santos,MEI
4,70132,Alan Santos,277,4,2014,SAN,Santos,MEI

In [583]:
atletas_all_years.to_csv('atletas_all_years.csv', sep='\t')

In [598]:
atletas_all_years[(atletas_all_years['Abreviacao_x']=='VAS') & (atletas_all_years['Ano']==2015)].sort_values(by="PosicaoID")

,ID_jogador,Apelido,ClubeID,PosicaoID,Ano,Abreviacao_x,nome_clube,Abreviacao_y
5895,92057,Gabriel Félix,267,1,2015,VAS,Vasco,GOL
5894,74067,Charles,267,1,2015,VAS,Vasco,GOL
5893,86776,Jordi,267,1,2015,VAS,Vasco,GOL
5892,69249,Martín Silva,267,1,2015,VAS,Vasco,GOL
5891,73074,Rafael Copetti,267,1,2015,VAS,Vasco,GOL
4755,78077,Madson,267,2,2015,VAS,Vasco,LAT
4756,84893,Henrique,267,2,2015,VAS,Vasco,LAT
4757,82499,Christiano,267,2,2015,VAS,Vasco,LAT
4758,87750,Lorran,267,2,2015,VAS,Vasco,LAT
4759,38446,Nei,267,2,2015,VAS,Vasco,LAT
4761,83867,Erick Daltro,267,2,2015,VAS,Vasco,LAT
4762,89641,Bruno Ferreira,267,2,2015,VAS,Vasco,LAT
4763,42236,Bruno Teles,267,2,2015,VAS,Vasco,LAT
4760,37663,Julio Cesar,267,2,2015,VAS,Vasco,LAT
3628,80692,Luan,267,3,2015,VAS,Vasco,ZAG
3634,41159,João Carlos,267,3,2015,VAS,Vasco,ZAG
3633,73421,Rafael Vaz,267,3,2015,VAS,Vasco,ZAG
3632,61986,Aislan,267,3,2015,VAS,Vasco,ZAG
3631,73876,Jomar,267,3,2015,VAS,Vasco,ZAG
3630,82306,Douglas Silva,267,3,2015,VAS,Vasco,ZAG
3629,70933,Anderson Salles,267,3,2015,VAS,Vasco,ZAG
3627,37644,Rodrigo,267,3,2015,VAS,Vasco,ZAG
2289,50533,Guiñazu,267,4,2015,VAS,Vasco,MEI
2309,74081,Guilherme Costa,267,4,2015,VAS,Vasco,MEI
2290,60853,Julio Dos Santos,267,4,2015,VAS,Vasco,MEI
2291,68697,Bernardo,267,4,2015,VAS,Vasco,MEI
2292,84679,Emanuel Biancucchi,267,4,2015,VAS,Vasco,MEI
2293,69099,Seymour,267,4,2015,VAS,Vasco,MEI
2310,93108,Mateus Vital,267,4,2015,VAS,Vasco,MEI
2295,38763,Marcinho,267,4,2015,VAS,Vasco,MEI
...,...,...,...,...,...,...,...,...
2298,88379,Jean Patrick,267,4,2015,VAS,Vasco,MEI
2299,37627,Diguinho,267,4,2015,VAS,Vasco,MEI
2294,50454,Serginho,267,4,2015,VAS,Vasco,MEI
2301,84557,Montoya,267,4,2015,VAS,Vasco,MEI
2300,53896,Sandro Silva,267,4,2015,VAS,Vasco,MEI
2308,54422,Jéferson,267,4,2015,VAS,Vasco,MEI
2307,60802,Bruno Gallo,267,4,2015,VAS,Vasco,MEI
2306,38768,Andrezinho,267,4,2015,VAS,Vasco,MEI
2304,87483,Matheus Índio,267,4,2015,VAS,Vasco,MEI
2305,70162,Jackson Caucaia,267,4,2015,VAS,Vasco,MEI
2303,79585,Jonatas Paulista,267,4,2015,VAS,Vasco,MEI
2302,72117,Victor Bolt,267,4,2015,VAS,Vasco,MEI
7517,37784,Herrera,267,5,2015,VAS,Vasco,ATA
7513,86725,Rafael Silva,267,5,2015,VAS,Vasco,ATA
7518,38508,Eder Luis,267,5,2015,VAS,Vasco,ATA
7519,38913,Nenê,267,5,2015,VAS,Vasco,ATA
7515,88233,Marquinhos,267,5,2015,VAS,Vasco,ATA
7514,86189,Mosquito,267,5,2015,VAS,Vasco,ATA
7516,82510,Romarinho,267,5,2015,VAS,Vasco,ATA
7512,61188,Gilberto,267,5,2015,VAS,Vasco,ATA
7508,85211,Thalles,267,5,2015,VAS,Vasco,ATA
7510,83189,Riascos,267,5,2015,VAS,Vasco,ATA
7509,38108,Jorge Henrique,267,5,2015,VAS,Vasco,ATA
7507,37613,Dagoberto,267,5,2015,VAS,Vasco,ATA
7520,40758,Leandrão,267,5,2015,VAS,Vasco,ATA
7511,79584,Yago,267,5,2015,VAS,Vasco,ATA
7521,92696,Renato Kayzer,267,5,2015,VAS,Vasco,ATA
5192,70323,Jorginho,267,6,2015,VAS,Vasco,TEC
5191,36856,Celso Roth,267,6,2015,VAS,Vasco,TEC
5190,79343,Doriva,267,6,2015,VAS,Vasco,TEC